<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.proinnova.epidemic.dao.AbraodEpidemicDao">
    <select id="list" resultType="cn.com.proinnova.epidemic.bean.AbraodEpidemic">
        select nation,xcqz,ljqz,xz,ljzy,dead from abroad_epidemic
    </select>
</mapper>